<% include partials/header.ejs %>


<% include partials/navbar2.ejs %>


<h2 class="mt-5" style="text-align: center;">Flight Results for Hydrabad to Bombay</h2>

<div class="container">
  <div class="row" >
    <div class="col-xs-6 mt-4">
      <div class="table-responsive" style="left: 50%; position: relative;">
        <table summary="This table shows flight details" class="table table-bordered table-hover" style="background-color: aliceblue;">
          <thead>
            <tr>
              <th>Departure</th>
              <th>Arrival</th>
              <th>Duration</th>
              <th>Airlines</th>
              <th>Fares</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hydrabad</td>
              <td>Mumbai</td>
              <td>0 days 7 hours 55 minutes</td>
              <td>Vistara</td>
              <td>$111.97</td>
            </tr>
            <tr>
              <td>Hydrabad</td>
              <td>Mumbai</td>
              <td>0 days 4 hours 35 minutes</td>
              <td>Hahn Air</td>
              <td>$432.97</td>
            </tr>
            <tr>
                <td>Hydrabad</td>
                <td>Mumbai</td>
                <td>0 days 15 hours 50 minutes</td>
                <td>Vistara</td>
                <td>$141.97</td>
            </tr>
            <tr>
              <td>Hydrabad</td>
              <td>Mumbai</td>
              <td>0 days 11 hours 25 minutes</td>
              <td>Hahn Air</td>
              <td>$311.97</td>
            </tr>
            <tr>
                <td>Hydrabad</td>
                <td>Mumbai</td>
                <td>0 days 7 hours 30 minutes</td>
                <td>Vistara</td>
                <td>$111.97</td>
            </tr>
                                        
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
              <a href="https://www.expedia.com/Flights-Search?trip=oneway&leg1=from%3AHyderabad%2C%20India%20(HYD)%2Cto%3AMumbai%2C%20India%20(BOM)%2Cdeparture%3A10%2F26%2F2019TANYT&passengers=adults%3A1%2Cchildren%3A0%2Cseniors%3A0%2Cinfantinlap%3AY&options=cabinclass%3Aeconomy&mode=search&origref=www.expedia.com"> Click me </a>
            </td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>


<% include partials/footer.ejs %>